<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>check mail</title>
</head>
<body>
    <main>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        <form action="#" method="post">
            {% csrf_token %}
            
            <input type="email" name="email" placeholder="Enter your email to receive the link" required>
            
            <input type="submit" value="Send" class="btn">
        </form>

        <a href="{% url 'utilisateurs:login' %}" class="btn">Back to Login</a>
    </main>
</body>
</html>
