<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password</title>
</head>
<body>
    <main>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

        <form action="#" method="post">
            {% csrf_token %}
            
            <input type="password" name="password" placeholder="password here...">
            <input type="password" name="password_confirm" placeholder="confirm password here...">
            
            <input type="submit" value="Send" class="btn">
        </form>
    </main>
</body>
</html>