<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
</head>
<body>
    <main>
        <h1>add product</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="name">name</label><input type="text" name="name" id="name" required><br>
            <label for="description">description</label><textarea type="text" name="description" id="description" required></textarea><br>
            <label for="price">price</label><input type="number" name="price" id="price" required><br>
            <label for="category">category</label>
            <select name="category" id="category" required>
            {% for category in categories %}
                <option value="{{ category.pk }}">{{ category.name }}</option>
            {% endfor %}
            </select><br>
            <label for="stock">stock</label><input type="number" name="stock" id="stock" required><br>
            <label for="image">image</label><input type="file" name="image" id="image" required><br>
            <label for="expiry_date">expiry_date</label><input type="date" name="expiry_date" id="expiry_date" required><br>
        </form>
    </main>
</body>
</html>